
<div class = "container">
	<h2>Edit Listing</h2>

	<div class = "align-right">
		<%=link_to 'Done', user_path(current_user)%>
	</div>
	<div class = "align-right">
		<%=link_to 'Delete', listing_path(@listing), method: :delete, data: {confirm: "Are you sure you want to delete listing?"} %>
	</div>



	<div class = "container thin-border-box top-margin">
		<table style="width:100%">
			<h5><%=@listing.title%></h5>
			<p><%=@listing.city%></p>

			<tr>
				<td><strong>Description</strong><br/><%=@listing.description%><td>
				<td><strong>Price/Night</strong><br/>MYR <%=@listing.price%></td>
			</tr>	
			<tr>
				<td><strong>Occupants</strong><br/><%=@listing.occupant%></td>
				<td><strong>Rooms</strong><br/><%=@listing.rooms%></td>
				<td><strong>Toilets</strong><br/><%=@listing.toilets%></td>
			</tr>
			<tr>
				<td><strong>Pet Friendly</strong><br/>
					<%if @listing.pet%>
					Yes
					<%else%>
					No
					<%end%>
				</td>
				<td><strong>Smoking within Premise</strong><br/>
					<%if @listing.smoker%>
					Yes
					<%else%>
					No
					<%end%>
				</td>	
			</tr>
		</table>
	</div>

	<div class = "container top-margin">
		<%= form_for @listing do |form| %>
		    <%= render partial: '/listings/form', object: form %>


		  <div class="submit-field top-margin">
		    <%= form.submit %>
		  </div>

		<%end%>
	</div>




</div>