<!-- This is the rails simple form -->
<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title, type: 'title' %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description, type: 'description' %>
</div>

<div class="text-field">
  <%= form.label :city %>
  <%= form.text_field :city, type: 'city'%>
</div>

<div class="text-field">
  <%= form.label :occupant %>
  <%= form.text_field :occupant, type: 'occupant' %>
</div>

<div class="text-field">
  <%= form.label :rooms %>
  <%= form.text_field :rooms, type: 'rooms'%>
</div>

<div class="text-field">
  <%= form.label :toilets %>
  <%= form.text_field :toilets, type: 'toilets'%>
</div>

<div class="text-field">
  <%= form.label :pet %>
  <%= form.text_field :pet, type: 'pet'%>
</div>

<div class="password-field">
  <%= form.label :smoker %>
  <%= form.password_field :smoker, type: 'smoker'%>
</div>

<div class="text-field">
  <%= form.label :price %>
  <%= form.text_field :price, type: 'price' %>
</div>