

<div class ="homepage container">


<h2>Welcome to Homepage</h2>

<div class = "">
	<%=link_to 'Profile Page',user_path(current_user)%><br/>
</div>

<div class="">
	<%=link_to 'User List',users_alluser_path%><br/>
</div>

<div class ="align-center top-margin">
	<strong>Cities with our properties</strong><br/>
	<%@city_arr%>
	<%@city_arr.each do |l|%>
		<%=l%> <%="|"%>
	<%end%> 

</div>


<!-- Search with dates and cities -->
<div class="container extra-padding thin-border-box top-margin">
	<%= form_tag("/listings/search", method: "get") do %>
		

		<table style="width:60%" class ="top-margin">
			<%= label_tag(:city, "City") %>
			<select name ="city" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">

				<option selected>Select City...</option>

				<!-- Display all countries in db as options -->
					<%@city_arr.each do |city|%>
						<option value="<%=city%>"><%=city%></option>
					<%end%>
			</select>

			<tr>
				<td><%= label_tag(:check_in, "Check In") %></td>
				<td><%= label_tag(:check_out, "Check Out") %></td>
			</tr>
			<tr>
				<td><%= date_field(:reservation, :check_in) %></td>
				<td><%= date_field(:reservation, :check_out) %></td>
	
			</tr>

		</table>
			<div class="top-margin"><%= submit_tag("Search") %></div>
	<% end %>
</div>


<!-- Search Form -->
<!-- COME BACK AND FIGURE OUT WHY FILTERS ARE NOT COMPLETE -->
<div class="container extra-padding">

	<h4>Search for properties.</h4>
	<br/>

	<!-- This is the search form -->
	<%= form_tag users_path, :method => 'get' do  %>
	<table style="width:100%">
			<col width=40%>
			<col width=20%>
			<col width=20%>
		<!-- ARRANGE THE FORM LATER -->		
		<tr>
			<td><%= label_tag(:title_search, "Title Search:") %></td>
			<td><%= text_field_tag(:title_search) %></td>
		</tr>

		<tr>				
			<%= form_tag users_path, id: "city-search" do %>
		    <td><%= label_tag "City Search:" %></td>
		    <td><%= text_field_tag "query", nil, list: "list" %></td>
		      <datalist id="list"></datalist>
		    <% end %>
		</tr>

		<tr>
			<td><%= label_tag(:price, "Price/night below:") %></td>
			<td><%= text_field_tag(:price) %></td>
		</tr>

		<tr>
			<td><%= label_tag(:occupant, "Number of Occupants:") %></td>
			<td><%= text_field_tag(:occupant) %></td>
		</tr>

		<tr>
			<td><%= label_tag(:pet, "Pet Friendly") %></td>
			<td><%= check_box_tag(:pet,value = true) %></td>
		</tr>
		<tr>
			<td><%= label_tag(:smoker, "Smoker") %></td>
			<td><%= check_box_tag(:smoker,value = true) %></td>
		</tr>

	</table>
		<%= submit_tag("Search") %>
	<% end %>
</div>

<!-- Shows all the listing if there is any -->
<div>
	<hr/>
	<%if @listings.length >0%>
		<!-- put this in a list in the future -->
		<h3>Find your next holiday home</h3>
		<h5><%=@listing_length%> properties that might suit you.</h5>

		<%@listings.each_with_index do |l,i|%>
		<hr/>

			<table style="width:100%">
				<col width=60%>
				<col width=20%>
				<col width=20%>
				<span class="title-text"><%="#{l.title}"%></span>
				<%if l.verification == true%>
					✅	
				<%end%>
				<span class="float-right"><strong>Host:</strong>
					<%if l.user.username != nil%>
						<%=l.user.username%>
					<%else%>
						nil
					<%end%>
				</span>
				<tr>
					<td><strong>Description</strong><br/><%=l.description%></td>
					<td><strong>Price</strong><br/>MYR <%=l.price%>/night</td>
					<td><span class="float-right"><%=link_to 'View', listing_path(l.id)%></span></td>
				</tr>
				<tr>
					<%if l.avatars.length>0%>
					<td><%=image_tag l.avatars[0].url,:size => "260x180", :crop => :fill%></td>
					<%else%>
						<td><%=image_tag "stanleywithbone.JPG", :size => "260x180", :crop => :fill%></td>
					<%end%>
				</tr>		
			</table>
		<%end%>
	<%else%>
	<div class ="container">
		<h3>Sorry. No listing found at the moment!</h3>
	</div>
	<%end%>
	<hr/>
	<%= paginate @listings%>
</div>

</div>

<script type="text/javascript">
	
	var city_input = document.getElementById("query")

	if (city_input){
	  city_input.addEventListener("keyup", function(event){
	    autocomplete(event)
	  })
	}

	window.globalXHR = new XMLHttpRequest()

	function autocomplete(event) {
	  //retrieve input
	  var input = event.target

	  //get datalist element for results
	  var list = document.getElementById("list")
	  	var xhttp = new XMLHttpRequest();
	    xhttp.onreadystatechange = function() {
	      if (this.readyState == 4 && this.status == 200) {
	        
	        //convert json response to an object
	        var response = JSON.parse(this.responseText)

	        //clear previous results
	        list.innerHTML = ""

	        response.forEach(function(element){
	          //create new option element
	          var option = document.createElement("option")
	          option.value = element

	          //append option to list
	          list.appendChild(option)
	        })
	      }
	    }
	    // This sends a get request to user controller with the input params
	    xhttp.open("GET", "/users/search_input_text?query="+ input.value,true);
 		xhttp.send();
	   }
	


</script>