
<div class="container">

	<div class="container align-right">
		<%=link_to 'Home' ,root_path%>
	</div>	

	<div class = "container">
		<h2>Booking Confirmation</h2>
		Please check below details before making booking.
	</div>

	<div class= "container">
		<table style="width:30%" class = "thin-border-box">
			<tr>
				<td>Check-in Date :</td>
				<td><%=@check_in%></td>
			</tr>
			<tr>
				<td>Check-out Date :</td>
				<td><%=@check_out%></td>
			</tr>

		</table>
	</div>

	<div class = "container thin-border-box top-margin">
		<%listing=Listing.find(@listing_id)%>
		<h3><%=listing.title%></h2>
		<h4><%="#{listing.city}, #{listing.state}, #{listing.country}"%></h4>

		<table style="width:100%">
			<col width=33%>
			<col width=33%>
			<col width=33%>
		<tr>
			<td><strong>Description</strong><br/><%=listing.description%><td>
			<td><strong>Occupants</strong><br/><%=listing.occupant%></td>
		</tr>	
		<tr>
			<td><strong>No. of Beds</strong><br/><%=listing.bed_number%></td>
			<td><strong>Rooms</strong><br/><%=listing.rooms%></td>
			<td><strong>Toilets</strong><br/><%=listing.toilets%></td>
		</tr>
		<tr>
			<td><strong>Pet Friendly</strong><br/>
				<%if listing.pet%>
				Yes
				<%else%>
				No
				<%end%>
			</td>
			<td><strong>Smoking Allowed</strong><br/>
				<%if listing.smoker%>
				Yes
				<%else%>
				No
				<%end%>
			</td>	
		</tr>

		</table>
	</div>

	<div class= "container top-margin thin-border-box">
		<!--Count the number of days between check in and check out dates  -->
		<!-- make sure that the dates are converted to date form and do subtraction -->
		<%nights = (@check_out.to_date-@check_in.to_date).to_i%>

		<table style="width:100%">
			<tr>
				<td><span class = "title-text">Total Amount</span></td>
				<td><span class = "title-text">MYR <%=listing.price*nights%></span></td>
			</tr> 
			<tr>
				<td>Duration :</td>
				<td><strong><%=nights%> night(s)</strong></td>
			</tr>
			<tr>
				<td>Price/Night :</td>
				<td><strong><%=listing.price%></strong></td>
			</tr>
			
		</table>
	</div>

	<div class ="container">
		<%=button_to "Confirm Booking", reservations_path(:reservation=>{:check_in =>"#{@check_in}",:check_out =>"#{@check_out}",:user_id => "#{current_user.id}",:listing_id =>"#{@listing_id}"})%>
	</div>

</div>